.bgInfo{
    margin-left: 4px;
}
.g{
    margin-left: 10px;
}
.mtb{
    margin-top: 10px;
}
.aksyon{
    display: block;
    width: 80px;
}
input[type="checkbox"]{
    height: 20px;
    width: 20px;
}
.k {
    font-weight: bold;
}