.selected{
    background-color: limegreen;
}
ul li:hover{
    background-color: lightgray;
    cursor: pointer !important;
}

p.selectedItem:hover{
  cursor: hand !important;   
}

/*span.rcorners1 {
    margin-top: 10px;
    border-radius: 70px;
    background: blue;
    font-size: 4em;
    font-weight: bolder;
    padding: 20px;
    width: 200px;
    height: 200px;
    color: white;
}*/

span.rcorners1 {
    margin-top: 10px;
   
    font-size: 2em;
    font-weight: bolder;
    padding: 20px;
    width: 100px;
    height: 100px;
    /*color: white;*/
}